html {
  max-height: 1000px;
  max-width: 750px;
}

body {
  margin: 0;
  font-family: --apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #80808030;
}

.header {
  display: flex;
}

h1 {
  font-size: 25px;
  flex: 1;
  margin: 0;
  padding-top: 0.5rem;
}

h2 {
  font-size: 15px;
}

div {
  width: 30rem;
  padding: 0.5rem;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

.buttons {
  padding: 0;
}

.buttons>button {
  background: #b5c689;
  cursor: pointer;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
  font-size: 13px;
  border-radius: 7px;
  border: none;
  height: 2rem;
  margin: 0.2rem;
}

main>button {
  background: #b5c689;
  cursor: pointer;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
  font-size: 13px;
  border-radius: 7px;
  border: none;
  height: 2rem;
  margin: 0.2rem;
}

.categoryList {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-bottom: 0.5rem;
  list-style: none;
  padding: 0;
  width: fit-content;
}

input[type="checkbox"] {
  cursor: pointer;
}

.noteList {
  list-style: none;
  width: inherit;
  padding: 0;
}

.noteList>li {
  margin-bottom: 0.7rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
  border-radius: 5px;
}

.noteList>li>div {
  display: flex;
  width: inherit;
  padding: 0.2rem;
}

.notesDiv {
  padding: 0;
}

.noteList>li>div>h2 {
  padding: 0.5rem 0.2rem 0.5rem 0.2rem;
  margin: 0;
  flex: 1;
}

.editButton,
.confirmNoteButton,
.confirmButton,
.optionsButton {
  border-radius: 7px;
  border: none;
  height: 2rem;
  margin-top: 0.5rem;
  background: #b5c689;
  cursor: pointer;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
  font-size: 13px;
}

.editButton {
  z-index: 0;
}

.editButton>i {
  z-index: 1;
}

.renameCategory>button {
  border-radius: 7px;
  border: none;
  height: 2rem;
  margin-top: 0.5rem;
  background: #b5c689;
  cursor: pointer;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
  font-size: 13px;
}

.noteList>li>p {
  padding: 0.5rem 0.2rem 0.5rem 0.2rem;
  font-size: 14px;
}

.categoryList>li {
  width: fit-content;
  height: fit-content;
  padding: 0;
  margin: 0.2rem;
  border-radius: 20px;
  border: none;
}

.categoryList>li>button {
  border-radius: 20px;
  border: none;
  height: 2rem;
  background: #EDDD6E;
  cursor: pointer;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
  font-size: 13px;
  font-family: --apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
}

li:nth-child(odd) {
  background: #ffffff;
}

li:nth-child(even) {
  background: #ffffff;
}

h3,
p {
  margin: 0;
}

.renameCategory>input {
  height: 1rem;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.createNewNote {
  display: flex;
  flex-direction: column;
}

.createNewNote>button {
  width: 2.5rem;
}

.titleInput {
  height: 1.5rem;
  width: 65%;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 0.5rem;
}

.textInput {
  height: 5rem;
  max-width: 30rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  font-family: --apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.buttons>button .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  margin-top: 35px;
  opacity: 0.9;
}

.buttons>button:hover .tooltiptext {
  visibility: visible;
}